<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
        <h1>{{ titre }}</h1>
        {% for mot in mots %}
            {{ mot }}
        {% endfor %}
        
        
        <p><form method="POST" action="/">
            {% if bouchon %}
                {{ resetform.resetdb() }}
            {% endif %}
        </form></p>
        

        


        <pre>
        {{ parsed }}
        </pre>

       
        <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabbor" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#createvm">ON PREMISE - Create VM</a>
                  </li>
                  <li class="nav-item tabbor">
                    <a class="nav-link" data-toggle="tab" href="#deletevm">ON PREMISE - Delete VM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#createazvm">AZURE - Create VM from image</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#deleteazvm">AZURE - Delete VM</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#getinfos">Workflow Informations</a>
                  </li>
                  <li >
                    <a class="nav-link" href="/api/v1">API</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="createvm" class="container tab-pane active tabbor"><br>
                    <h3>Create VM On Premise</h3>
                    <p>
                        <form method="POST" action="/">
                            <div class="table-responsive"><table class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="4"><center>New VM configuration</center></th>
                                </tr>
                            </thead>
                            <tr>
                                <th rowspan="2">Environment parameters</th>
                                <td>{{ form.target_env.label }} : </td><td>{{ form.target_env() }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.target_site.label }} : </td><td>{{ form.target_site() }}</td>
                            </tr>
                            <tr>
                                <th rowspan="2">Application parameters</th>
                                <td>{{ form.app_trigram.label }} : </td><td>{{ form.app_trigram(size=3) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.vm_name.label }} : </td><td>{{ form.vm_name(size=20) }}</td>
                            </tr>
                            <tr>
                                <th rowspan="5">VM parameters</th>
                                <td>{{ form.vm_owner_domain.label }} : </td><td>{{ form.vm_owner_gaia(size=20) }}</td>
                            </tr>
                            <tr><td>{{ form.vm_os.label }} : </td><td>{{ form.vm_os() }}</td></tr>
                            <tr><td>{{ form.vm_cpu_count.label }} : </td><td>{{ form.vm_cpu_count() }}</td></tr>
                            <tr><td>{{ form.vm_ram_size.label }} : </td><td>{{ form.vm_ram_size() }}MB</td></tr>
                            <tr><td>{{ form.vm_disk_size.label }} : </td><td>{{ form.vm_disk_size(size=3) }}GB</td></tr>
                    
                            <tr>
                                <th></th><!-- <th>{{ form.vm_count.label }} : {{ form.vm_count(size=3) }}</th> -->
                                <td colspan="2">{{ form.create_button() }}</td>
                            </tr>
                            </table></div>
                        </form>
                    </p>
                  </div>
                  <div id="deletevm" class="container tab-pane fade tabbor"><br>
                    <h3>Delete VM On Premise</h3>
                    <p>
                        <form method="POST" action="/">
                            <div class="table-responsive"><table class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="4"><center>VM to delete</center></th>
                                </tr>
                            </thead>
                            <tr>
                                <th rowspan="2">Environment parameters</th>
                                <td>{{ deletevmform.vm_name.label }} : </td><td>{{ deletevmform.vm_name(size=20) }}</td>
                            </tr>
                            <tr>
                                <td>{{ deletevmform.target_env.label }} : </td><td>{{ deletevmform.target_env() }}</td>
                            </tr>
                            <tr>
                                <td></td><th colspan="2">{{ deletevmform.delete_button() }}</th>
                            </tr>
                            </table></div>
                        </form>
                    </p>
                  </div>
                  <div id="getinfos" class="container tab-pane fade tabbor"><br>
                    <h3>Get Workflow Informations</h3>
                    <p>
                        <form method="POST" action="/">
                            <div class="table-responsive"><table class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="4"><center>Get Workflow Informations</center></th>
                                </tr>
                            </thead>
                            <tr>
                                <th rowspan="2">GIAC parameters</th>
                                <td>{{ getinfosform.wf_id.label }} : </td><td>{{ getinfosform.wf_id(size=20) }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">{{ getinfosform.getinfos_button() }}</th><td></td>
                            </tr>
                            </table></div>
                        </form>
                    </p>
                  </div>
                  <div id="createazvm" class="container tab-pane fade tabbor"><br>
                    <h3>Create Azure VM from image</h3>
                    <p>
                        <form method="POST" action="/">
                            <div class="table-responsive"><table class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="4"><center>Create Azure VM from image</center></th>
                                </tr>
                            </thead>
                            <tr>
                                    <th rowspan="2">Owner parameters</th>
                                    <td>{{ createazvmform.vm_dc.label }} : </td><td>{{ createazvmform.vm_dc() }}</td>
                                </tr>
                                <tr>
                                    <td>{{ createazvmform.vm_owner_gaia.label }} : </td><td>{{ createazvmform.vm_owner_gaia() }}</td>
                                </tr>
                                <tr>
                                    <th rowspan="5">VM parameters</th>
                                    <td>{{ createazvmform.vm_resourcegroup.label }} : </td><td>{{ createazvmform.vm_resourcegroup(size=20) }}</td>
                                </tr>
                                <tr><td>{{ createazvmform.vm_image.label }} : </td><td>{{ createazvmform.vm_image() }}</td></tr>
                                <tr><td>{{ createazvmform.vm_os.label }} : </td><td>{{ createazvmform.vm_os() }}</td></tr>
                                <tr><td>{{ createazvmform.vm_size.label }} : </td><td>{{ createazvmform.vm_size() }}</td></tr>
                                <tr><td>{{ createazvmform.vm_name.label }} : </td><td>{{ createazvmform.vm_name() }}</td></tr>
                                <tr>
                                    <th></th>
                                    <th colspan="2">{{ createazvmform.createaz_button() }}</th>
                                </tr>
                            </table></div>
                        </form> 
                    </p>
                  </div>
                  <div id="deleteazvm" class="container tab-pane fade tabbor"><br>
                    <h3>Delete Azure VM</h3>
                    <p>
                        <form method="POST" action="/">
                            <div class="table-responsive"><table class="table table-dark table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="4"><center>VM to delete</center></th>
                                </tr>
                            </thead>
                            <tr>
                                <th rowspan="2">Environment parameters</th>
                                <td>{{ deleteazvmform.resource_group.label }} : </td><td>{{ deleteazvmform.resource_group(size=20) }}</td>
                            </tr>
                            <tr>
                                <td>{{ deleteazvmform.vmname.label }} : </td><td>{{ deleteazvmform.vmname() }}</td>
                            </tr>
                            <tr>
                                <td></td><th colspan="2">{{ deleteazvmform.deleteaz_button() }}</th>
                            </tr>
                            </table></div>
                        </form>
                    </p>
                  </div>
                </div>
              </div>


    <hr />
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <pre id="flash">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </pre>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    <hr />
        
</body>
</html>
